 @model List<AntiForgeryTokens.Models.Comment>

<h2>Yorumlar</h2>
<a asp-action="Create" class="btn btn-primary">Yeni Yorum</a>
<ul class="mt-4">
	@foreach (var c in Model)
	{
		<li>@c.Message</li>
	}
</ul>
