@model List<UrunProje.Models.Product>
@{
	ViewData["Title"] = "Ürün listesi";
}
<h1>Ürün Listesi</h1>
<a href ="/Product/Create" class="btn btn-primary">Yeni Ürün Ekle</a>
<table class ="table table-bordered">
	<thead>
		<tr>
			<th>ID</th>
			<th>Ürünn Adı</th>
			<th>Fiyat</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var product in Model)
		{
			<tr>
				<td>@product.Id</td>
				<td>@product.Name</td>
				<td>@product.Price</td>
			</tr>
		}
	</tbody>
</table>