@model List<MvcProject.Models.Product>

@{
	ViewData["Title"] = "Ürün Listesi";
}

<h1>Ürün listesi</h1>
<a href="/Product/Create" class="btn btn-primary">Yeni Ürün ekle</a>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>ID</th>
			<th>Ürün adı</th>
			<th>Ürün fiyatı</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var product in Model)
		{
			<tr>
				<td>@product.Id </td>
				<td>@product.Name </td>
				<td>@product.Price</td>
			</tr>
		}

	</tbody>

</table>